@import url("https://fonts.googleapis.com/css2?family=Red+Hat+Display&display=swap");

body {
  font-family: "Red Hat Display", sans-serif;
  background-image: linear-gradient(
    to bottom,
    #a4907c,
    #ad9986,
    #b6a391,
    #bfac9b,
    #c8b6a6
  );
  min-height: 100vh;
  header {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 110px;
    background-image: linear-gradient(
      to bottom,
      #8d7b68,
      #93806d,
      #988572,
      #9e8b77,
      #a4907c
    );
    border-bottom: 2px solid #dac3ad86;
    margin-bottom: 30px;
    h1 {
      color: white;
      font-size: 50px;
      text-align: center;
    }
  }
  main {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    #hint {
      text-align: center;
      color: white;
      background-color: #32832bb7;
      max-width: 350px;
      border-radius: 5px;
      border: 2px solid #dac3ad86;
      padding: 5px;
    }
    .question {
      background-color: #f1dec96c;
      min-height: 100px;
      width: 350px;
      border-radius: 5px;
      border: 2px solid #dac3ad86;
      display: none;
      margin-bottom: 40px;

      form {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        h2 {
          font-size: 20px;
          color: white;
          margin-bottom: 10px;
          margin-top: 10px;
          text-align: center;
        }
        input {
          margin-bottom: 10px;
          border-radius: 20px;
          border: none;
          padding: 5px;
        }
        button {
          margin-bottom: 10px;
          border-radius: 20px;
          border: none;
          background-color: rgba(255, 255, 255, 0.658);
          &:hover {
            background-color: rgba(0, 0, 0, 0.658);
            color: white;
          }
        }

        select {
          margin-bottom: 10px;
          border-radius: 20px;
          border: none;
          padding: 5px;
        }
      }
    }

    .resultat {
      display: none;
      max-height: 380px;
      width: 350px;
      overflow: scroll;
      background-color: #f1dec96c;
      border-radius: 5px;
      border: 2px solid #dac3ad86;

      h2 {
        font-size: 20px;
        margin-top: 15px;
        margin-left: 15px;
        margin-bottom: 30px;
      }
      p {
        margin: 15px;
      }
    }
    .resultat::-webkit-scrollbar {
      display: none;
    }
  }

  footer {
    display: flex;
    flex-direction: column;
    position: absolute;
    bottom: 0;
    width: 100vw;
    align-items: center;
    height: 110px;
    border-top: 2px solid #dac3ad86;
    section {
      margin-bottom: 15px;
      &:first-child {
        margin-top: 10px;
      }
    }
    #hintButton {
      border-radius: 20px;
      border: none;
      background-color: rgba(255, 255, 255, 0.658);
      padding: 5px;
      &:hover {
        background-color: rgba(0, 0, 0, 0.658);
        color: white;
      }
    }
  }
}
@keyframes fadeIn {
  0% {
    opacity: 0;
    transform: translateX(-250px);
  }
  60% {
    opacity: 1;
    transform: translateX(0px);
  }
  75% {
    opacity: 1;
    transform: translateX(-30px);
  }
  85% {
    opacity: 1;
    transform: translateX(0px);
  }
  90% {
    opacity: 1;
    transform: translateX(-15px);
  }
  100% {
    opacity: 1;
    transform: translateX(0);
  }
}

.fade-in {
  animation: fadeIn 1s ease-in;
}

@keyframes fadeOut {
  0% {
    opacity: 1;
    transform: translateX(0px);
  }

  100% {
    opacity: 0;
    transform: translateX(250px);
  }
}
.fade-out {
  animation: fadeOut 1s ease-in;
}
